openapi: 3.0.3
info:
  title: Timeseries API
  description: Timeseries API
  version: 1.0.0
  contact:
    name: "Digital Production Platform API"
security:
  - jwt-authorizer: []
servers:
  - url: 'https://api.cof.dpp.yara.com'
paths:
  /timeseries:
    get:
      tags:
        - Time Series
      summary: List all time series.
      operationId: getTimeSeries
      description: Returns a list of all available timeseries.
      x-amazon-apigateway-integration:
        "$ref": "#/components/x-amazon-apigateway-integrations/TimeSeriesSiteServiceLambdaIntegration"
      parameters:
        - in: query
          name: tag_name
          required: true
          description: The tag name of the time series metric to retrieve.
          example: 'F1SFIC105'
          schema:
            type: string
        - in: query
          name: limit
          description: Maximum number of results to return.
          required: false
          schema:
            type: integer
            format: integer
            minimum: 0
            maximum: 500
            default: 100
        - in: query
          name: pagination_token
          description: Used to move forward or backward through "pages", based on the value of next_token or previous_token in the response. The value provided must be pulled directly from the response provided by the API, and must not be modified.
          example: '77qpw3t'
          schema:
            type: string
      responses:
        '200':
          description: List of timeseries data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeSeriesItems"
        '400':
          description: Bad request
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '406':
          description: Not acceptable.
        '415':
          description: Unsupported media type.
  /timeseries/{timeseries_id}/data:
    get:
      tags:
        - Time Series Data
      summary: List all data points for a specific time series.
      operationId: getTimeSerieData
      description: Returns a list of all available data points for a specific time series.
      x-amazon-apigateway-integration:
        "$ref": "#/components/x-amazon-apigateway-integrations/TimeSeriesSiteServiceLambdaIntegration"
      parameters:
        - in: path
          name: timeseries_id
          description: The unique identifier of the timeseries, from which you want to read data points.
          example: "5a0c083e-e458-402d-a34d-c7c204071db0_76b07209-bc0f-4b89-a8e7-650967769b13"
          required: true
          schema:
            type: string
        - in: query
          name: start_time
          description: The UTC start timestamp of the requested timeframe from which the time series data will be provided. Timestamp in second granularity and inclusive (e.g., 12:00:01 includes the first second of the minute). Timestamp is formatted in YYYY-MM-DDTHH:mm:ssZ (ISO 8601/RFC 3339).
          required: false
          schema:
            type: string
            format: date-time
            example: '2021-08-29T09:12:33.001Z'
        - in: query
          name: end_time
          description: The UTC end timestamp of the requested timeframe from which the time series data will be provided. Timestamp in second granularity and inclusive (e.g., 12:00:01 includes the first second of the minute). Timestamp is formatted in YYYY-MM-DDTHH:mm:ssZ (ISO 8601/RFC 3339).
          required: false
          schema:
            type: string
            format: date-time
            example: '2021-08-29T09:12:45.001Z'
        - in: query
          name: limit
          description: Maximum number of results to return.
          required: false
          schema:
            type: integer
            format: integer
            minimum: 1
            maximum: 250
            default: 100
        - in: query
          name: sort
          description: 'The sort order of the time series data. Sortable parameters: created_at. Use "-" to indicate descending order'
          schema:
            type: string
            example: 'time, -time'
        - in: query
          name: quality
          description: The quality of the time series data to return. Valid values are GOOD, BAD and UNCERTAIN.
          required: false
          schema:
            type: string
            example: GOOD, BAD, UNCERTAIN
        - in: query
          name: latest_value
          description: If set to true, only the latest value of each timeseries data is returned. Lates values must be at maximum 30 days old.
          required: false
          schema:
            type: boolean
        - in: query
          name: pagination_token
          description: Used to move forward "pages", based on the value of next_token in the response. The value provided must be pulled directly from the response provided by the API, and must not be modified.
          example: '77qpw3t'
          schema:
            type: string
      responses:
        '200':
          description: List of time series data points.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TimeSeriesData"
        '400':
          description: Bad request
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden.
        '404':
          description: Not found.
        '406':
          description: Not acceptable.
        '415':
          description: Unsupported media type.
  /sites/{site_id}/tags:
    get:
      tags:
        - Tags
      summary: List all available tags.
      operationId: getTags
      description: Return a list of all available tags for a production site.
      x-amazon-apigateway-integration:
        "$ref": "#/components/x-amazon-apigateway-integrations/TimeSeriesSiteServiceLambdaIntegration"
      parameters:
        - in: path
          name: site_id
          description: 'The ID of the production site to return tags from (e.g. GLO for Glomfjord'
          required: true
          example: 'GLO'
          schema:
            type: string
      responses:
        '200':
          description: List of tags.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TagItems"
components:
  schemas:
    Tag:
      type: object
      required:
        - tag_name
        - area
        - production_unit
      properties:
        tag_name:
          type: string
          description: 'The name of the tag.'
          example: 'O3133_99.B2'
        area:
          type: string
          description: 'The area on the production site.'
          example: 'NitricAcid'
        production_unit:
          type: string
          description: 'The production unit on the site.'
          example: 'SSB'
    TagItems:
      type: object
      required:
        - data
      properties:
        data:
          items:
            $ref: '#/components/schemas/Tag'
    TimeSeriesData:
      type: object
      required:
        - id
        - unit
        - data_points
        - metadata
      properties:
        id:
          description: The unique identifier of the time series data point.
          format: uuid
          example: 'e48f9fea-3679-4652-823c-b5e915d34cb6_15b4c221-aef6-4e25-8aa6-7ac847e11719'
        unit:
          type: string
          description: The unit of measurement.
          example: 'kg'
        data_type:
          type: string
          description: The data type of the value returned in the data points.
          example: 'Double'
        data_points:
          description: An array containing the actual time series data points response.
          items:
            $ref: "#/components/schemas/DataPoint"
        metadata:
          $ref: "#/components/schemas/Metadata"
    DataPoint:
      type: object
      required:
        - quality
        - time
        - value
      properties:
        time:
          type: string
          description: The UTC timestamp of the data point formatted in YYYY-MM-DDTHH:mm:ssZ (ISO 8601/RFC 3339).
          format: date-time
          example: '2021-08-29T09:12:33.001Z'
        quality:
          type: string
          description: The quality of the time series data point. Valid valid are GOOD, BAD, UNCERTAIN
          example: GOOD
        value:
          type: string
          description: The value of the measurement.
          example: ' 7.0'
    TimeSeriesItems:
      type: object
      required:
        - data
      properties:
        data:
          description: An array containing the actual time series response.
          items:
            $ref: "#/components/schemas/TimeSeries"
        metadata:
          $ref: "#/components/schemas/Metadata"
    TimeSeries:
      type: object
      required:
        - id
        - name
        - type
        - unit
        - created_at
        - updated_at
      properties:
        id:
          type: string
          description: 'The unique identifier of the time series.'
          format: uuid
          example: 'e48f9fea-3679-4652-823c-b5e915d34cb6_15b4c221-aef6-4e25-8aa6-7ac847e11719'
        name:
          type: string
          description: 'The name of the time series'
          example: 'GLO.NitricAcid.SSB.O3133_99.B2'
        type:
          type: string
          description: 'The time series type. E.g. Analog signal, digital signal etc.'
          example: 'DigitalSignal.0'
        unit:
          type: string
          description: The unit of measurement.
          example: 'kg/m3'
        created_at:
          type: string
          description: The timestamp when the measurement
          format: date-time
          example: '2021-08-29T09:12:30.001Z'
        updated_at:
          type: string
          format: date-time
          example: '2021-08-29T09:13:00.001Z'
    Metadata:
      type: object
      description: Contains information about number of time series returned and pagination details.
      properties:
        total_count:
          type: integer
          description: The number of time series returned in the response.
          example: 50
        next_token:
          type: string
          description: 'An encoded value that can be used in the subsequent request in the pagination_token to return the next page of results. Only returned in the respone if there are more results available.'
          example: '77qpw8c'
        previous_token:
          type: string
          description: 'An encoded value that can be used in the subsequent request in the pagination_token to return the prevous page of results. Only returned in the response if there is a previous page of results available.'
          example: '77qpw9d'
  securitySchemes:
    jwt-authorizer:
      type: oauth2
      flows: {}
      x-amazon-apigateway-authorizer:
        type: jwt
        jwtConfiguration:
          issuer:
            Fn::Sub: https://cognito-idp.${AWS::Region}.amazonaws.com/${UserPoolId}
          audience:
            - Fn::Sub: ${AppClient}
            - Fn::Sub: ${AppClientGB}
            - Fn::Sub: ${AppClientELC}
        identitySource: "$request.header.Authorization"
  x-amazon-apigateway-integrations:
    TimeSeriesSiteServiceLambdaIntegration:
      credentials:
        Fn::Sub: ${ApiGatewayRoleArn}
      payloadFormatVersion: "2.0"
      type: "aws_proxy"
      httpMethod: "POST"
      uri:
        Fn::Sub: arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${TimeSeriesSiteServiceLambdaArn}/invocations
      connectionType: "INTERNET"
      passthroughBehavior: when_no_templates